---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro'
import Github from '../components/icons/Github.astro'
import Social from '../components/Social.astro'
import Cv from '../components/icons/Cv.astro';
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
---

<Layout title="Portfolio de Ram칩n Rivera">
	<main>
		<SectionContainer>
			<img 
				class="rounded-full size-12 mb-4"
				src="/FotoMia.webp"
				alt="RamonRivera photo"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hola, soy Ram칩n Rivera 
					<a href="https://www.linkedin.com/in/ramonfranciscoriveravalenzuela" target="_blank" rel="noopener" class="flex justify-center items-center">
						<Badge>Disponible para trabajar</Badge>
					</a>

			</h1>
			<h2 class="text-xl opacity-80 text-wrap">
				2 a침os de experiencia. Ingeniero en desarrollo y gesti칩n de Software. 
				Desarrollador Web. De Hermosillo, Sonora. Especializado en desarrollo Back End y Front End.  
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<Social href="https://www.linkedin.com/in/ramonfranciscoriveravalenzuela">
						<Linkedin class="h-6 w-6" />
						LinkedIn
				</Social>
					
				<Social href="https://github.com/RamonRVexe">
						<Github class="h-6 w-6" />
							Github
				</Social>
				<Social href="https://drive.google.com/file/d/1ff9w_lQe-uebxIBk_KbkjZjjAnkt2zxW/view?usp=drive_link">
					<Cv class="h-6 w-6" />
						Descargar CV
				</Social>
			</nav>
		</SectionContainer>
		<SectionContainer>
			<Experience />
		</SectionContainer>

	</main>
</Layout>

