---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [   
    {
        date: 'Marzo 2022',
        title: 'Desarrollador web Tecnergy',
        description: 'Desarrollador web empresa para x cosa',
        link:''
    },
    {
        date: 'Marzo 2022',
        title: 'Desarrollador web Tecnergy',
        description: 'Desarrollador web empresa para x cosa',
        link:''
    }


]
---
<ol class="relative border-s border-gray-200 ml-3">    
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experiencie} />
            </li>
        ))
    }              
    
</ol>

