---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [   
    {
        date: 'Septiembre 2022 - actualidad',
        title: 'Desarrollador Web Full stack - Gobierno del estado de Sonora',
        description: 'Desarrollo módulos interactivos utilizando angular para el front end y creo endpoints con falcon(Python) y ASP.NET para el back end. soy responsable de la implementación y mejoras continuas, asegurando que las soluciones sean escalables y eficientes.',
        link:''
    },
    {
        date: 'Septiembre 2021 - Septiembre 2022',
        title: 'Desarrollador web Full stack - Tecnergy',
        description: 'Desarrollé sistemas web internos y revitalicé sistemas obsoletos utilizando PHP, SQL, Angular y Laravel. Mejore la eficiencia de los sistemas, reduciendo el tiempo de carga en un 30%.',
        link:''
    },
    {
        date:'Marzo 2021 - Agosto 2021',
        title: 'Practicante Desarrollador Web - Interlogic',
        description: 'Desarrolle un sistema web para que los tecnicos revisen errores en los registros de cajeros automaticos de la empresa, implementando el back end como PHP, Pyton y servicios de AWS y diseñando el front end con HTML, CSS y JavaScript.'
    }


]
---
<ol class="relative border-s border-gray-200 ml-3">    
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experiencie} />
            </li>
        ))
    }              
    
</ol>

